html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://preview.babylonjs.com/babylon.js")
    script(src="https://unpkg.com/animejs/lib/anime.min.js")
    link(rel="stylesheet" href=`${baseURL}/css/style.css`)
    link(rel="manifest" href=`${baseURL}/manifest.json`)
    title Aritig-L - Academic Council - Digital Samadhi

  body!= content

