---
layout: layout
---

div#babylon-wrapper
  canvas#babylon-engine
  r-grid#content-wrapper(columns="12")
    r-cell#title(span="12")
      h1#title-text
    r-cell(span="2-6")
      h2 Welcome to...
      h2 You will entere an experience...
      h2 #[a(href="/experience") Begin] your digital expereience...
    r-cell(span="5")
      dl
        dt ^samadhi
        dd a state of intense concentration achieved through meditation. In Hindu yoga this is regarded as the final stage, at which union with the divine is reached (before or at death).

script main('#{pkg.name}', '#{project.ENV}')
