html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    script(src="https://preview.babylonjs.com/babylon.js")
    script(src="https://unpkg.com/animejs/lib/anime.min.js")
    title aritig-l - academic council - digital twins

  body
    div#babylon-wrapper
      canvas#babylon-engine
      section#title-wrapper
        h1#title
    script(src="/js/script.js")
