@use '../../node_modules/normalize.css/normalize.css';
@use '../../node_modules/raster-sass/dist/raster-grid.min.css';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$background-color: #00303bee;
$dark-color: #00303b;
$primary-color: #ff7777 ;
$secondary-color: #ffce96;
$bright-color: #f1f2da;

html {
  font-family: VT323, monospace;
  font-size: 24px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $bright-color;
  background-color: $dark-color;

  > video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
  }
}

a {
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}

#babylon-engine {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  touch-action: none;
}

#content-wrapper > #title,
#content-wrapper > #begin-button {
  text-align: center;
}

#ep01, #ep02 {
  display: none;
  background-color: $background-color;
  height: 100%;
}

#next {
  display: none;
}

#user-input {
  width: 100%;
  resize: none;
}

@media screen and (orientation: portrait) {
  html {
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    width: 100vh;
    height: 100vw;
    left: 100%;
  }
}
